@page
@model IndexModel
@{
     ViewData["Title"] = "SSO with JWT";
}

<div class="titles">
     <h2>JWT Single Sign-On</h2>
     <h4>A demonstration of Single Sign-On authentication using microservice REST APIs and JWTs</h4>
</div>

<form>
     <div class="input-group">
          Username:@Html.TextBoxFor(m => m.Username)
     </div>
     <div class="input-group">
          Password: @Html.TextBoxFor(m => m.Password)
     </div>
     <div class="submit-group">
          <input type="submit" value="Get Token" />
     </div>
     <div class="response-group">
          Response Code: <span class="response">@Model.AuthResponseCode</span>
          <br />
          Token: <span class="response">@Model.Token</span>
     </div>
</form>


<form>
     @Html.HiddenFor(m => m.AuthResponseCode)
     @Html.HiddenFor(m => m.Token)
     <div class="submit-group">
          <input type="submit" value="Get Data" />
     </div>
     <div class="response-group">
          Response Code: <span class="response">@Model.DataResponseCode</span>
          <br />
          Data: <span class="response">@Model.Data</span>
     </div>
</form>

